* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bbc-font: ReithSans, Arial, Helvetica, freesans, sans-serif;
  --bbc-font-legacy: Arial, Helvetica, freesans, sans-serif;
}
.primaryFont{
  font-family: var(--bbc-font)
}
.legacyFont{
  font-family: var(--bbc-font-legacy);
}
a {
  text-decoration: none;
}
.df {
  display: flex;
}
.bgblack {
  background-color: #000;
}
.justContCent {
  justify-content: center;
}
.alignCent {
  align-items: center;
}
.userIcon {
  width: 32px;
  height: 32px;
}
.clrw {
  color: white;
}
.fwb {
  font-weight: bold;
}
.bt1{
  bottom: 1rem;
}
.lt1{
  left: 1rem;
}
.rt1{
  right: 1rem;
}
.clrd3{
  color: #d3d3d3;
}
.di{
  display: inline;
}
.db{
  display: block;
}
.navMenu {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.pdl10 {
  padding-left: 10px;
}
.pldot5{
  padding-left: .5rem;
}
.fs13 {
  font-size: 13px;
}
.fs15{
  font-size: 15px;
}
.fs16{
  font-size: 16px;
}
.fs3{
  font-size: 3rem;
}
.gap15 {
  gap: 15px;
}
.gap1{
  gap: 1rem;
}
.pdot5dot7{
  padding: .1rem .7rem;
}
.gap2{
  gap: 2rem;
}
.p2{
  padding: 2rem;
}
.gapdot5{
  gap: .5rem;
}
.mlrAuto {
  margin: 0 auto;
}
.mh4 {
  min-height: 4rem;
}
.f1 {
  flex: 1;
}
.f2 {
  flex: 2;
}
.plr10 {
  padding: 0px 10px;
}
.plr8 {
  padding: 0px 8px;
}
.plr4 {
  padding: 0 4px;
}
.plr15 {
  padding: 0px 15px;
}
.gap20 {
  gap: 20px;
}
.justContAround {
  justify-content: space-around;
}
.flxgrow1 {
  flex-grow: 1;
}
.tc {
  text-align: center;
}
.imgShadow{
  box-shadow: inset 0 0 80px rgba(0,0,0,0.5);
}
.tl{
  text-align: left;
}
.w3rem {
  width: 3rem;
}
.w100 {
  width: 100%;
}
.oh{
  overflow: hidden;
}
.bg238 {
  background-color: rgb(238, 238, 238);
}
.adText {
  font: bold 0.75rem/0.75rem helvetica, arial, sans-serif;
}
.clr50 {
  color: #505050;
}
.brdrfff {
  border: 2px solid white;
}
.brdre9{
  border: 2px solid #e91802
}
.lh1dot7{
  line-height: 1.7rem;
}
.wh2dot5{
  width: 2.5rem;
  height: 2.5rem;
}
.bgw{
  background-color: white;
}
.brdr20 {
  border-radius: 20px;
}
.circle{
  border-radius: 50%;
}
.mb5 {
  margin-bottom: 5px;
}
.mt8 {
  margin-top: 8px;
}
.justFlxEnd {
  justify-content: flex-end;
}
.justContBet {
  justify-content: space-between;
}
.w80 {
  width: 80%;
}
.flxCol {
  flex-direction: column;
}
.flxWrap{
  flex-wrap: wrap;
}
.pdt2 {
  padding-top: 2px;
}
.ptb10 {
  padding: 10px 0px;
}
.ptb1{
  padding: 1rem 0;
}
.ptbdot5{
  padding: .5rem 0;
}
.pb8 {
  padding-bottom: 8px;
}
.p10 {
  padding: 10px;
}
.mw100 {
  max-width: 100%;
}
.w50{
  width: 50%;
}
.w45{
  width: 45%;
}
.w49{
  width: 49%;
}
.w30{
  width: 30%;
}
.flxsh0{
  flex-shrink: 0;
}
.pt1 {
  padding-top: 1rem;
}
.por {
  position: relative;
}
.poa {
  position: absolute;
}
.btm0 {
  bottom: 0;
}
.txtUpper {
  text-transform: uppercase;
}
.listNone {
  list-style-type: none;
}
.fs1 {
  font-size: 1rem;
}
.fsdot8{
  font-size: .8rem;
}
.fl{
  float: left;
}
.pdot4{
  padding: .4rem;
}
.fs1dot3{
  font-size: 1.3rem;
}
.fs1dot2{
  font-size: 1.2rem;
}
.fs1dot1{
  font-size: 1.1rem;
}
.fs1dot5{
  font-size: 1.5rem;
}
.bgf2{
  background-color: #f2f2f2;
}
.clr8c{
  color: #8c8c8c;
}
.brdrLeft {
  border-left: 2px solid #e91802;
}
.mtb1 {
  margin: 1rem 0;
}
.mtb2{
  margin: 2rem 0;
}
.mt1{
  margin-top: 1rem;
}
.mt2{
  margin-top: 2rem;
}
.fsdot7 {
  font-size: 0.7rem;
}
.fsdot9 {
  font-size: 0.9rem;
}
.fs1dot4 {
  font-size: 1.4rem;
}
.titleBorder {
  border-bottom: 1px solid #d3d3d3;
}
.clr4a {
  color: #4a4a4a;
}
.z1{
  z-index: 1;
}
.psticky{
  position: sticky;
}
.tp0{
  top: 0;
}
.mlr5 {
  margin: 0 5px;
}
.leftBorder {
  border-left: 1px solid #e91802;
  border-width: 0.2rem;
  height: 1.2rem;
  margin-top: 0.2rem;
}
.leftBorder2 {
  border-left: 1px solid #e91802;
  border-width: 0.17rem;
  height: .8rem;
  margin-top: 0.12rem;
}
.bg4c{
  background-color: #4c4c4c;
}
.ml5 {
  margin-left: 5px;
}
.ml15{
  margin-left: 15px;
}
.ml4{
  margin-left: 4rem;
}
.ml10{
  margin-left: 10px;
}
.mb15{
  margin-bottom: 15px;
}
.mb1{
  margin-bottom: 1rem;
}
.mb2{
  margin-bottom: 2rem;
}
.mbdot5{
  margin-bottom: .5rem;
}
.fs1dot8{
  font-size: 1.8rem;
}
.reelContainer {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.bge9{
  background-color: #e91802;
}
.navList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
.pt16{
  padding-top: 16px;
}
.pb16{
  padding-bottom: 16px;
}
.pb1{
  padding-bottom: 1rem;
}
.pl30{
  padding-left: 30px;
}
.truncate{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 99%;
  display: block;
}
.br1grey{
  border-right: 1px solid grey;
}
.cat{
  position: absolute !important;
  bottom: 0 !important;

}
.mh20{
  min-height: 20rem;
}
.p1{
  padding: 1rem;
}
.transAll{
  transition: all 2s;
}
.opdot6{
  opacity: .6;
}
.description{
  display: none;
}
.miniHeading{
  display: none;
}
.miniNews{
  display: none;
}
.in2{
  display: none;
}
.editors{
  display: none;
}
.footerNav{
  min-width: 45%;
}
@media (min-width: 600px){
  .description{
    display: block;
  }
  .miniList{
    display: none;
  }
  .miniHeading{
    display: block;
  }
  .miniNews{
    display: block;
  }
  .reels{
    display: flex;
    flex-direction: row;
    gap: 1rem
  }
  .in1{
    display: none;
  }
  .in2{
    display: block;
  }
  .editors{
    display: block;
  }
}
@media (min-width: 400px){
  .footerNav{
    min-width: 30%;
  }
}